@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Mona Sans', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.sidebar-main{
    height: -webkit-fill-available !important;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }


  /* Spinner Container */
.spinner {
    width: 70px;
    height: 70px;
    border: 8px solid rgba(0, 0, 0, 0.1); /* Light gray border */
    border-top: 8px solid white; /* Blue border at the top */
    border-radius: 50%; /* Make it a circle */
    animation: spin 1s linear infinite; /* Infinite spinning */
  }
  
  /* Keyframes for spinning animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #1F2136 inset !important; /* Force background color */
    color: #fff !important; /* Change text color */
    border: none !important; /* Remove border */
  }
  
  input:-webkit-autofill::first-line {
    color: #fff !important; /* Change text color for the first line */
  }
  